@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    background-image: url('./assets/img/stadium1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}